@tailwind base;
@tailwind components;
@tailwind utilities;

html, body, #root {
  width: 100%;
}

a {
  color: white;
}

input[type="checkbox"] {
  appearance: none;
  border: 1px solid #ccc;
  border-radius: 50%;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

input[type="checkbox"]:checked::after {
  content: url("./icons/checkmark.svg");
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 3px;
}
input[type="number"] {
  background-color: white;
}
body {
  overflow: visible;
  color: black;
  background-color: #f3f3f3;
  h1 {
    font-size: 24px;
    font-weight: 700;
  }
  h2 {
    font-size: 20px;
    font-weight: 700;
  }
  h3 {
    font-size: 18px;
    font-weight: 500;
  }
}
