# SPDX-FileCopyrightText: 2024 Mass Labs
#
# SPDX-License-Identifier: Unlicense

# process-compose scratch space
data

# Logs
logs
*.log

node_modules
dist
dist-ssr
*.local

# direvn
.direnv

# pre commit
.pre-commit-config.yaml

# next
packages/frontend/out
packages/contracts/src

# test Level DB
packages/stateManager/tmpDb
**/coverage
.last-input


