@import "tailwindcss";

@theme {
  --spacing-under-nav: 70px;
  --breakpoint-xxs: 400px;
  --color-background-gray: #f3f3f3;
  --color-warning-yellow: #f19a3e;
  --color-error-red: #a31621;
  --color-primary-dark-green: #3b513e;
  --color-success-green: #5b9279;
}

body {
  overflow: visible;
  color: black;
  background-color: #f3f3f3;
  overflow-y: scroll;
  h1 {
    font-size: 24px;
    font-weight: 700;
  }
  h2 {
    font-size: 20px;
    font-weight: 700;
  }
  h3 {
    font-size: 18px;
    font-weight: 500;
  }
}

@font-face {
  font-family: "Outfit";
  src: url("/fonts/Outfit-VariableFont_wght.ttf") format("truetype-variations");
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

html, body, #root {
  width: 100%;
  font-family: "Outfit", sans-serif;
  background-color: #f3f3f3;
  overflow-x: auto;
}

a {
  color: white;
}

input[type="checkbox"] {
  appearance: none;
  border: 1px solid #ccc;
  border-radius: 50%;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

input[type="checkbox"]:checked::after {
  content: url("/icons/checkmark.svg");
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 3px;
}

input {
  background-color: transparent;
}
